@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@model NetCoreBootstrap.Models.Views.UserManagementViewModel
@inject IViewLocalizer Localizer

<h3>@Localizer["Profile"]</h3>
<h4>@Localizer["ChangePassword"]</h4>
@using (Html.BeginForm("EditUser", "Account", FormMethod.Post))
{
    <div asp-validation-summary="All"></div>
    @Html.HiddenFor(model => model.UserId)
    <div class='form-group'>
        @Html.LabelFor(model => model.Password)
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger"})
    </div>
    <div class='form-group'>
        @Html.LabelFor(model => model.NewPassword)
        @Html.EditorFor(model => model.NewPassword)
        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger"})
    </div>
    <div class='form-group'>
        @Html.LabelFor(model => model.ConfirmNewPassword)
        @Html.EditorFor(model => model.ConfirmNewPassword)
        @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger"})
    </div>
    <div class='form-group'>
        <input type='submit' value='@Localizer["SaveChanges"]'/>
    </div>
}
